<header class="bg-emerald-700">
  <div class="mx-auto max-w-screen-xl px-6">
    <div class="flex h-16 items-center justify-between">
	    <div class="flex-1 md:flex">
		    <div class="block text-white">
		      <%= link_to '/' do %>
		        <h1 class="text-xl md:text-xl font-bold tracking-wider">uchinoco.com</h1>
		      <% end %>
		    </div>
		    <div class="hidden md:flex md:items-center md:gap-12 ml-auto">
		      <nav aria-label="Global">
				    <ul class="flex items-center gap-6 text-sm">
					    <li>
				        <%= link_to t('header.root'), root_path, class: "text-white transition hover:text-gray-500/75" %>
				      </li>
				      <li>
							  <%= link_to t('header.board_index'), "#", class: "text-white transition hover:text-gray-500/75" %>
				      </li>
				      <li>
				        <%= link_to t('header.login'), login_path, class: "text-white transition hover:text-gray-500/75" %>
				      </li>
					   </ul>
					 </nav>
				</div>
	    </div>
      <div class="block md:hidden ml-auto">
          <button class="rounded-sm bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
    </div>
  </div>
</header>