<footer class="bg-gray-100">
  <div class="relative mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 lg:pt-12">
    <div class="flex flex-col items-center space-y-4 lg:flex-row lg:justify-center lg:space-y-0 lg:space-x-8">
	    <ul class="flex flex-col items-center space-y-3 md:flex-row md:space-y-0 md:space-x-7 xl:space-x-8 text-[11px] opacity-80 leading-normal tracking-[.06em]">
        <li>
          <%= link_to t('footer.terms'), "#", class: "text-gray-700 transition duration-300 text-sm hover:opacity-50" %>
        </li>
        <li>
          <%= link_to t('footer.privacy_policy'), "#", class: "text-gray-700 transition duration-300 text-sm hover:opacity-50" %>
        </li>
        <li>
          <%= link_to t('footer.contact'), "#", class: "text-gray-700 transition duration-300 text-sm hover:opacity-50" %>
        </li>
      </ul>
    </div>
    <div class="text-gray-700 mt-10 text-[10px] leading-normal tracking-[.06em] opacity-60 text-center">
      <p>Copyright © 2025. uchinoco.com</p>
    </div>
  </div>
</footer>