<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="text-xl font-bold text-center">
    <h1> <%= t('.title') %></h>
  </div>
  <div class="mx-auto mt-8 mb-0 max-w-md space-y-4">
    <%= render 'form', post: @post %>
  </div>
</div>